@import url("https://fonts.googleapis.com/css?family=Sofia");

body {
    background: #1b1f24;
    color: white;
    font-family: "Poppins", sans-serif;
}

.filter-bar {
    background: #24323d;
    padding: 15px;
    border-radius: 12px;
}

.filter-bar label {
    font-size: 12px;
    color: #cfcfcf;
}


/* Card */
.product-card {
    background: #24323d;
    color: white;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.product-card:hover {
    transform: translateY(-5px);
    border: 1px solid #da70d6;
}

/* Image */
.product-card img {
    height: 180px;
    object-fit: cover;
}

/* Title */
.card-title {
    color: #da70d6;
    font-size: 18px;
}

/* Price */
.price {
    color: #da70d6;
    font-weight: bold;
    font-size: 1.1rem;
}

.seller-name {
    font-size: 12px;
    color: #aaa;
    margin-top: 8px;
}

/* Button */
.btn-view {
    background: transparent;
    border: 1px solid #da70d6;
    color: white;
}

.btn-view:hover {
    background: #da70d6;
    color: white;
}

.btn-cart {
    background: #da70d6;
    color: white;
}

.btn-cart:hover {
    background: #e0b0ff;
    color: white;
}